.container {
  width: 60vw;
  height: 70vh;
  background-color: white;
  border-radius: 15px;
  margin: 80px auto 0 auto;
}

.imgContainer {
  float: left;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 300px;
}

.formContainer {
  float: right;
  height: 100%;
  width: 50%;
}

.loginContainer {
  width: 100%;
  height: 60%;
  margin: 25% 0 25% 0;
}

.loginTitle {
  font-size: 1.5rem;
  font-weight: 550;
  margin: 0 0 30px 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputField {
  margin: 0 0 30px 0;
  width: 60%;
  height: 35px;
  border-radius: 13px;
  background-color: #d3d3d3;
  border-style: none;
  padding: 0 0 0 15px;
  font-size: 1rem;
}

.inputField:focus {
  outline: none;
}

.forgetPass {
  margin: 0 0 40px 0;
  font-size: 0.8rem;
  cursor: pointer;
  color: #444444;
}

.forgetPass:hover {
  color: #bfbdbb;
}

.loginBtn {
  width: 60%;
  height: 35px;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  background-color: #04c224;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.loginBtn:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
